@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
	--main-color-first: #161616;
	--main-color-second:  #212121;
	--main-color-third: #94121f;
	--text-color-first: #FFF;
}


body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--main-color-second);
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

/*Header*/

header{
	left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: var(--main-color-second);
	position: fixed;
	padding: 20px 0 15px 0;
}

header .container{
	-webkit-display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .logo a{
	font-size: 30px;
	text-decoration: none;
	color:#ffffff;
	font-weight: 700;
}

header .logo a span{
	color: var(--main-color-third);
}

header .logo a img{
	width: 200px;
}

/*Price Section*/

.price-package{
	padding: 100px 0px;
	background-color: var(--main-color-first);
	position: relative;
  	min-height: 100vh;
}


.price-package h2{
	font-size: 30px;
	font-weight: 500;
	color:var(--main-color-first);
	padding: 0px 0px 20px;
	text-align: center;
}

.price-package .box:nth-of-type(1),
.price-package .box:nth-of-type(2){
	margin-top: 50px;
}

.price-package .title-p{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.price-package .content{
	-webkit-display: flex;
	display: flex;
	justify-content: center;

}

.price-package .content .box{
	flex:0 0 33.33%;
	max-width:300px;
	padding: 15px;
}


.price-package .content .box .inner{
	background-color: #212121;
	border-radius: 15px;
    border: 2px solid var(--main-color-second);
}

.price-package .content .box .border-destak{
	border-color: var(--main-color-third);

}



.price-package .content .box .inner .price-tag{
	height: 50px;
	font-size: 1.5rem;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: var(--main-color-third);
	color:#ffffff;
	text-align: center;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.price-package .content .box .inner .text{
	padding: 0px 15px 10px 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.price-package .content .box .inner .text h3{
	font-size: 24px;
	color:#FFF;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
	
}
.price-package .content .box .inner .text p{
	font-size: 1.1rem;
	color:#FFF;
	margin:0;
	text-align: center;
	padding:0 0 5px;
	font-family: 'Open-sans', sans-serif;	
	margin-bottom: 5px;
}

.price-package .content .box .inner .text table{
	font-size: 0.9rem;
	color:#FFF;
	text-align: left;
	padding:0 0 5px 0;
	font-family: 'Open-sans', sans-serif;	
	margin-bottom: 5px;
	width:fit-content;
	margin: 0 auto;
	margin-top: 30px;
}

.price-package .content .box .inner .text table i{
	color: var(--main-color-third);
	font-size: 1.2rem;
}



.price-package .content .box .inner .text td{
	padding-bottom: 30px;
}

.price-package .content .box .inner .text td:nth-of-type(1){
	padding-right: 1rem;
	color: var(--text-color-first);
}



.price-package .content .box .inner .text .btn{
    width: 80%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	border: 3px solid var(--main-color-third);
	border-radius: 15px;
	padding: 10px 0 10px 0;
}
.price-package .content .box .inner .text .btn:hover{
	border-color:var(--main-color-third);
	color: var(--main-color-third);
	background-color: var(--main-color-first);
}
.price-package .content .box .inner .img img{
	width: 100%;
}

.price-big {
	text-align: center;
	color: var(--text-color-first);
}



.inner H2{
	color: var(--text-color-first);
	font-size: 1.2rem;
	padding: 10px 0 0 0;
	font-weight: 700;
}




.price-big h3{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 20px;
}




.price-big span:nth-of-type(1){
	color: var(--text-color-first);
	font-size: 3.5rem;
	padding-right: 0px;
	font-weight: 700;
}

.price-big span:nth-of-type(2){
	color: #a3a0a0;
	font-size: 1rem;
	font-weight: 200;
}

.price-big p:nth-of-type(1){
	font-size: 1rem;
	font-weight: 200;
	margin-top: -5px;
	letter-spacing: 1.5px;
	color: #a3a0a0;
}

.price-big p:nth-of-type(2){
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding-top: 30px;
	text-transform: uppercase;
}

.destak{
	background-color: var(--main-color-third);
}

.destak:hover {
	background-color: var(--text-color-first) !important;
	color: var(--main-color-third) !important;
	border-color: #FFF !important;
}


/*Contact Section*/

.contact{
	background-color: #222222;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.contact .content .text .info ul{
	list-style: none;
}

.contact .content .text .info li{
	color:#ffffff;
	font-size: 1rem;
	letter-spacing: 1px;
	position: relative;
	font-family: 'Roboto',sans-serif;
	padding-top: 10px;
	text-decoration: none;
}



.contact .content .text .info li i{
	margin-right: 15px;
	font-size: 1.2rem;	
}


.contact .content .text .info li span{
	display: inline-block;
	font-size: 1rem;
	color:var(--main-color-third);
}

.contact .content .text .social a{
	text-align: center;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
	font-size: 3rem;
	color: var(--main-color-third);
	cursor: pointer;
} 



.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social a span{
	color:#ffffff;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}

.cnpj {
	color: #FFF; 
	text-align: center;
}



/*Responsive*/


/*if screen width is less than or equal to 1200px then*/
@media(max-width: 1200px){
	.contact {
		position: static;
	}
}

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px){
   .home{
   	background-position: center;
   }
  .classes .content{
  	flex-wrap: wrap;
  }
 .classes .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes .content .img{
	display: none;
}
.start-today .content .box{
	padding:15px;
}
.contact {
	position: static;
}
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 750px){
  .home h1{
      font-size: 40px;
  }
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.service .content{
	flex-wrap: wrap;
}
.service .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes .content .class-items .item{
	flex-wrap: wrap;
}
.classes .content .class-items .item .item-text, 
.classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
}
.schedule .content{
	flex-wrap: wrap;
}
.schedule .content .box{
flex: 0 0 100%;
    max-width: 100%;	
}
.start-today .content{
	flex-wrap: wrap;
}
.start-today .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
 .gallery .content{
  flex-wrap: wrap;
 }
.gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.price-package .content{
	flex-wrap: wrap;
}
.price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .content{
	flex-wrap: wrap;
}
.contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact {
	position: static;
}
}



/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px){
  .home h1{
      font-size: 30px;
  }
  .contact {
	position: static;
}
  
}


